body {
  color:aliceblue;
text-align: center;
font-family: 'Righteous', cursive;
background-image: url("https://c.tenor.com/yasksYy1XekAAAAC/matrix-code.gif");
margin-top:10px;
margin-left:25px;
margin-right:25px;
}
img {
  border-color: rgb(239, 230, 250);
  border-width: 8px;
  border-style: solid;
  border-radius: 10px;
  border-radius: 50%;
  border-color: rgb(71, 5, 80);
}
.my-projects {
  color: white;
  width: 30%;
  float: left;
  margin: 10px;
  border-color: rgb(71, 5, 80);
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("https://i.pinimg.com/originals/60/77/21/6077219e88b648ef92674a154d42ef4a.gif");
  background-attachment: scroll;
  background-size: cover;

}
.about-me {
  color: rgb(239, 230, 250);
  width: 30%;
  float:left;
  margin: 10px;
  border-color: rgb(71, 5, 80);
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("https://i.pinimg.com/originals/60/77/21/6077219e88b648ef92674a154d42ef4a.gif");
  background-attachment: scroll;
  background-size: cover;
  

}
.causes {
  color: rgb(239, 230, 250);
  width: 30%;
  float: left;
  margin: 10px;
  border-color: rgb(71, 5, 80);
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("https://i.pinimg.com/originals/60/77/21/6077219e88b648ef92674a154d42ef4a.gif");
 
  background-attachment: scroll;
  background-size: cover;
}
ul{
  text-align: right;
  direction: rtl;
}
ol{
 text-align: left;  
}
a {
  color:rgb(8, 248, 248);
}
