body {
  color:rgb(32, 142, 238);
  text-align: center;
  font-family: 'Righteous', cursive;
  background-image: url("https://media0.giphy.com/media/d31wrqhUBj34YF8I/giphy.gif?cid=ecf05e4703oqt6qgdie1p8jw6xaqejmfq2dgl6skk1smc3gg&rid=giphy.gif&ct=g");
  margin-top:10px;
  margin-left:10%;
  margin-right:10%;
}
img {
  padding: 10px;
  border-width: 8px;
  border-style:ridge;
  border-width: 10px;
  border-radius: 10px;
  border-radius: 50%;
  border-color: rgb(224, 130, 236);
  box-shadow: 0 20px 40px rgba(4, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
}
.my-projects {
  color: rgb(239, 230, 250);
  width: 30%;
  float:left;
  margin: 10px;
  border-color: rgb(224, 130, 236);
  border-width: 10px;
  border-style:ridge;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("https://c.tenor.com/yasksYy1XekAAAAC/matrix-code.gif");
  background-attachment: scroll;
  background-size: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
}
.about-me {
  color: rgb(239, 230, 250);
  width: 30%;
  float:left;
  margin: 10px;
  border-color: rgb(224, 130, 236);
  border-width: 10px;
  border-style:ridge;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("https://i.pinimg.com/originals/60/77/21/6077219e88b648ef92674a154d42ef4a.gif");
  background-attachment: scroll;
  background-size: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
}
.causes {
  color: rgb(239, 230, 250);
  width: 30%;
  float: left;
  margin: 10px;
  border-color: rgb(224, 130, 236);
  border-width: 10px;
  border-style:ridge;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("https://images.wsj.net/im-349526/8SR");
  background-attachment: scroll;
  background-size: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
}
ul{
  text-align: right;
  direction: rtl;
}
ol{
 text-align: left;  
}
a {
  color:rgb(8, 248, 248);
}
#MyName {
  font-size: 80px;
}
#school-link {
  font-size: 40px;
}
a:hover {
  color: rgb(122, 248, 18);
  transform: scale(2.0)
}
.my-projects:hover {
  transform: scale(1.5)
}
.about-me:hover {
  transform: scale(2.0)
}
.causes:hover {
  transform: scale(1.5);
}
.my-face {
  overflow: visible;
  margin: 8px;
  min-width: 240px;
  max-width: 320px;
  width: 100%;
}
.my-face img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
}
.my-face:hover img {
  transform: scale(2.0) rotate(10deg);
}
#school-link:hover {
  transform: scale(2.0)
}
